.card {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 3px 3px black;
    max-width: 320px;
    box-sizing: border-box;
}

.tagContainer {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    max-width: 100%;
}

.card > h1 {
    font-size: 2rem;
}

.card > img {
    border-radius: 1rem;
    width: 200px;
}